<div class="alert-banner">
    <div class="ico">
        <i class="fa fa-info" aria-hidden="true"></i>
    </div>
    <span>
        <a href="#">Nota</a> sobre los proyectos domésticos durante la pandemia de Coronavirus (COVID-19).
    </span>
</div>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                </button>
                <a class="navbar-brand" href="#">Chambix</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-header">
                </ul>
                </form>
            </div>

        </div>
    </nav>
</header>