@{
    ViewBag.Title = "Chambix - Encuentra localmente servicios de mantenimiento y mejora para tu hogar";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Aquí va un banner destacado</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de búsqueda por categoría</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de proyectos populares</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de proyectos por temporada</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de precios fijos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de servicios</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de más proyectos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de apps</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Aquí va el modulo de Únase a nuestra red</p>
        </div>
    </div>
</div>