@{
    ViewBag.Title = "Chambix - Encuentra localmente servicios de mantenimiento y mejora para tu hogar";
}

<div class="container">
    <div class="home-banner">
        <div class="row">
            <div class="col-12">
                <div class="home-banner-hero-image"></div>
                <div class="home-banner-hero-overlay"></div>
                <div class="home-banner-hero-content">
                    <h1><span>Encuentra</span><span>localmente</span><span>profesionales</span><span>de</span><span>confianza</span>para cualquier proyecto en tu hogar</h1>
                    <div class="home-banner-hero-content-search">
                        <form action="/" method="post">
                            <div class="home-banner-hero-content-search-container">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" name="name" placeholder="¿Qué servicio necesitas?" />
                                <input type="submit" name="name" value="Buscar" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-categorias">
        <div class="row">
            <div class="col-12">
                <p>Aquí va el modulo de búsqueda por categoría</p>
            </div>
        </div>
    </div>

    <div class="home-populares">
        <div class="row">
            <div class="col-12">
                <h2>Proyectos populares</h2>
                <ul>
                    <li><a href="#">Plomería</a></li>
                    <li><a href="#">Remodelación de cocina</a></li>
                    <li><a href="#">Remodelación de baño</a></li>
                    <li><a href="#">Ventanas y Puertas</a></li>
                    <li><a href="#">Techado y paredes</a></li>
                    <li><a href="#">Electricidad</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="home-temporadas">
        <div class="row">
            <div class="col-12">
                <h2>Prepárate para el invierno</h2>
                <ul>
                    <li><a href="#">Calefacción</a></li>
                    <li><a href="#">Remodelación de cocina</a></li>
                    <li><a href="#">Remodelación de baño</a></li>
                    <li><a href="#">Ventanas y Puertas</a></li>
                    <li><a href="#">Techado y paredes</a></li>
                    <li><a href="#">Electricidad</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="home-precios">
        <div class="row">
            <div class="col-12">
                <p>Aquí va el modulo de precios fijos</p>
            </div>
        </div>
    </div>

    <div class="home-servicios">
        <div class="row">
            <div class="col-12">
                <p>Aquí va el modulo de servicios</p>
            </div>
        </div>
    </div>

    <div class="home-proyectos">
        <div class="row">
            <div class="col-12">
                <p>Aquí va el modulo de más proyectos</p>
            </div>
        </div>
    </div>

    <div class="home-apps">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>
                    Obtén la mejor experiencia en nuestra aplicación
                </h2>
                <p>
                    Encuentra a Chambix en tu Store preferida:
                </p>
                <ul>
                    <li>Precios del proyecto local</li>
                    <li>Opciones de pago seguras</li>
                    <li>Videollamadas y mensajería</li>
                    <li>Cobertura de la Garantía de felicidad</li>
                </ul>
                <div class="home-apps-rating">
                    <div class="app-icon">
                        <img src="~/Content/Images/mobile_app_icon_angi.webp" alt="Alternate Text" />
                    </div>
                    <div class="starts-rating"></div>
                    <span class="rating">4.6</span>
                    <span class="rating-count">(25 mil)</span>
                </div>
                <div class="home-apps-stores">
                    <ul>
                        <li><a href="#"><img src="~/Content/Images/appstore.png" alt="Alternate Text" /></a></li>
                        <li><a href="#"><img src="~/Content/Images/playstore.png" alt="Alternate Text" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img src="~/Content/Images/mobile_app_gaq_angi.webp" alt="Alternate Text" />
            </div>
        </div>
    </div>

    <div class="home-unete">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h2>¿Eres un profesional de servicios para el hogar?</h2>
                <p>Encuentra ayuda para tu negocio en Chambix ;)</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="links-primary">Únete a nuestra red</a>
            </div>
        </div>
    </div>
</div>