@{
    ViewBag.Title = "Chambix - Encuentra localmente servicios de mantenimiento y mejora para tu hogar";
}

<section class="accounts">
    <div class="container">

        <!-- TODO Si el usuario es profesional -->
        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 accounts_body bg-chambixColor">
                <div class="container">
                    <din class="row text-center">
                        <div class="col-4">
                            <a href="/Account/Index" class="accountA active">Mis publicaciones </a>
                        </div>
                        <div class="col-4">
                            <a href="/Account/Postulaciones" class="accountA">Contactados</a>
                        </div>
                        <div class="col-4">
                            <a href="/Account/Estadisticas" class="accountA">Estadisticas</a>
                        </div>
                    </din>
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 accounts_body">
                <h3 class="post_title">Mis publicaciones</h3>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 accounts_body_posts">
                <!-- TODO loop de los post publicados por este usuario -->

                @foreach (var post in ViewBag.ListarPostsPorId)
                {
                    <div class="accounts_body_posts_post">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <a href="@Url.Action("Interna", "Post", new { id = post.idUsuario })"><strong>@post.tituloPost</strong></a>
                                </div>
                                <div class="col-6">
                                    <div class="accounts_body_posts_post_review">
                                        @{ for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= @post.valoracionPost)
                                                {
                                                    <span class="active"></span>
                                                }
                                                else
                                                {
                                                    <span></span>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="btn btn-primary mt-2">Ver postulantes</a>
                                    <!-- TODO #excampleModal + idPost -->
                                    <a href="#" class="btn btn-outline-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>
    </div>
</section>

<!-- TODO id="exampleModal" + idPost -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Estás seguro de querer contratar este servicio?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>En Chambix queremos darte la seguridad que todos los servicios que contratas son bajo tu total seguridad y certeza.</p>
                <p>Por favor, necesitamos que confirmes la contratación del servicio</p>
            </div>
            <div class="modal-footer">
                <form action="/Post/AceptarServicio" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lo voy a pensar nuevamente</button>
                    <input type="hidden" name="postId" id="postId" value="" />
                    <button type="submit" class="btn btn-primary">Estoy seguro</button>
                </form>
            </div>
        </div>
    </div>
</div>