

@{
    ViewBag.Title = "Chambix - TODO: Aquí debe jalar el titulo del post";
}

<section class="post">
    <div class="container">

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 post_body">
                <h3 class="post_title">Crear publicación</h3>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 post_body_content">
                <div class="form">
                    <form action="/Post/CrearPost" method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Título de la publicación</strong>
                                        <input type="text" class="form-control" name="tituloPost" id="post-titulo" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Descripción</strong>
                                        <!--<textarea class="form-control" name="descripcionPost" id="login-descripcion"></textarea>-->
                                        @*@Html.TextArea("editor", new { rows = 20, style = "width: 100%;" ,name="edi", @class = "form-control tinymce" })*@
                                            <textarea class="form-control" placeholder="Escriba aquí" id="descripcion" name="descripcion" style="height: 100px" required></textarea>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Categoria</strong>                                                                        
                                    @Html.DropDownList("cboSubCategoria", (IEnumerable<SelectListItem>)ViewBag.ListarSubCategorias, htmlAttributes: new { @class = "form-select" })                                
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Distrito</strong>
                                        @Html.DropDownList("cboDistrito", (IEnumerable<SelectListItem>)ViewBag.ListarDistritos, htmlAttributes: new { @class = "form-select" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    &nbsp;
                                </div>
                                <div class="col-6">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-primary" id="btnPublicar" value="Publicar">
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        <!-- TODO: Alerta a mostrar cuando se acepte el modal -->
        <div class="alert alert-success" alert-dismissible fade show" role="alert">
            <strong>
                Felicidades!
            </strong>
            Has publicado con éxito :)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/Scripts/chambix/chambix_post.js"></script>
}