

@{
    ViewBag.Title = "Chambix - TODO: Aquí debe jalar el titulo del post";
}

<section class="post">
    <div class="container">

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 post_body">
                <h3 class="post_title">Crear publicación</h3>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 post_body_content">
                <div class="form">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Título de la publicación</strong>
                                        <input type="text" class="form-control" name="tituloPost" id="post-titulo">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Descripción</strong>
                                        <!--<textarea class="form-control" name="descripcionPost" id="login-descripcion"></textarea>-->
                                        @Html.TextArea("editor", new { rows = 20, style = "width: 100%;", @class = "form-control tinymce" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Descripción</strong>
                                        <select class="form-select">
                                            <option value="">Seleccionar Categoría</option>
                                            <option value="">TODO: Categoría</option>
                                            <!-- TODO Loop de categorías -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <strong>Distrito</strong>
                                        <select class="form-select">
                                            <option value="">Seleccionar Distrito</option>
                                            <option value="">TODO: Distrito</option>
                                            <!-- TODO Loop de distritos -->
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    &nbsp;
                                </div>
                                <div class="col-6">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-primary" value="Publicar">
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        <!-- TODO: Alerta a mostrar cuando se acepte el modal -->
        <div class="alert alert-success" alert-dismissible fade show" role="alert">
            <strong>
                Felicidades!
            </strong>
            Has publicado con éxito :)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</section>

@section scripts {
    @* configuración de tiny mce *@
    <script type="text/javascript" src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script type="text/javascript" src="~/Scripts/tinymce/plugins/image/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/code/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/colorpicker/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/textcolor/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/emoticons/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/imagetools/plugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/plugins/codesample/plugin.min.js"></script>

    <script type="text/javascript" src="~/Scripts/tinymce/themes/silver/theme.min.js"></script>

    <script>
        tinymce.init({
            selector: ".tinymce",
            language: 'es',
            mode: "none",
            theme: "silver",
            plugins: "codesample image imagetools emoticons table link code colorpicker textcolor preview searchreplace paste fullscreen noneditable nonbreaking wordcount",
            browser_spellcheck: true,
            relative_urls: false,
            toolbar: "codesample blockquote formatselect fontselect fontsizeselect bold italic underline forecolor backcolor advlist image imagetools link code colorpicker textcolor preview fullscreen noneditable nonbreaking wordcount emoticons",
            content_css: '/Content/tinymce.css'
        });
    </script>
}