@model IEnumerable<WEB_Chambix.Models.tb_Post>

@{
    ViewBag.Title = "Chambix - Encuentra localmente servicios de mantenimiento y mejora para tu hogar";
}

<section class="posts">
    <div class="container">
        <div class="row">
            <!-- Esto tiene que hacer loop de los resultados -->
            @foreach (var item in Model)
            {
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="card-title">
                                <h3>@Html.DisplayFor(modelItem => item.tb_Usuario.nombreUsuario)</h3>
                        </a>
                        <div class="card-keys">
                                <span class="badge badge-secondary">@Html.DisplayFor(modelItem => item.tb_SubCategoria.nombreSubCategoria)</span>
                        </div>
                        <p class="card-text">
                                @Html.DisplayFor(modelItem => item.descripcionPost)
                        </p>
                        <div class="card-actions">
                                @Html.ActionLink("Me interesa", "Post", new { id = item.idPost }, htmlAttributes: new { @class = "btn btn-primary" })
                            <a href="#" class="btn btn-outline-primary">Precios y horarios</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>